body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header h1 {
    text-align: center;
}

.intro-text,
.question,
.submit-section {
    margin-top: 20px;
}

ul#questionsList {
    list-style: none;
    padding: 0;
}

li.question {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Styles for answer options */
ul.answer-options {
    list-style-type: none;
    padding-left: 20px;
    margin: 10px 0;
}

ul.answer-options li {
    margin: 5px 0;
}

/* Sidebar */
#sidebar {
    position: fixed;
    right: 10px;
    top: 50px;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

/* Question Marked for Review Style */
.question-marked {
    background-color: #fff3cd;
}
